<link rel="stylesheet" href="/css/ConsultaAdm.css">

<div class="container">
    <h2 class="titulo">Lista de Consultas</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Nome Paciente</th>
                <th>CPF Paciente</th>
                <th>Nome do Medico</th>
                <th>Especialidade do Medico</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <% tdsConsultas.forEach(function(item) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.data %></td>
                    <td><%= item.hora %></td>
                    <td><%= item.nome_paciente %></td>
                    <td><%= item.cpf_paciente %></td>
                    <td><%= item.nome_funcionario %></td>
                    <td><%= item.desc_especialidade %></td>
                    <td>
                        <span class="material-symbols-outlined">edit</span>
                    </td>
                    <td>
                        <span class="material-symbols-outlined">delete</span>
                    </td>
            
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<div>
    <a href="/adm" class="back-button">
        <button><span class="material-symbols-outlined">arrow_back</span> Voltar</button>
    </a>
</div>


<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch('/Seleciona/Todas/Consultas', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('A resposta da rede não foi ok');
                }
                return response.json();
            })
            .then(data => {
                const tableBody = document.getElementById('consulta-list');
                data.forEach(paciente => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${paciente.id}</td>
                        <td>${paciente.data}</td>
                        <td>${paciente.hora}</td>
                        <td>${paciente.nome_paciente}</td>
                        <td>${paciente.cpf_paciente}</td>
                        <td>${paciente.nome_funcionario}</td>
                        <td>${paciente.desc_especialidade}</td>
                     
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Erro ao buscar dados:', error);
            });
    });
</script> -->