<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Consulta.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <title>Formulário de Consulta</title>
</head>

<body >
    <div class="img-fundo">
    <img src="../../../images/img-fundoConsulta.jpg" class="" id="">
</div>
    <div class="container">
        <h2>Formulário de Consulta</h2>
        <form id="consultaForm" action="/Cadastro/Consulta" method="post">
            <div class="form-group">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required>
            </div>

            <div class="form-group">
                <label for="hora">Hora:</label>
                <input type="time" id="hora" name="hora" required>
            </div>

            <div class="form-group">
                <label for="search">Buscar Paciente:</label>
                
                <input type="text" id="search" placeholder="Digite para buscar...">
                <input type="hidden" id="paciente" name="paciente" required>
                <input type="hidden" id="ID_PACIENTE" name="ID_PACIENTE">
                
            </div>

            <div class="form-group">
                <label for="especialidade">Especialidade:</label>
                <select id="especialidade" name="especialidade" required>
                    <option value=""></option>
                    <% Especialidade.forEach(function(item) { %>
                        <option value="<%= item.id %>" <%=item.id==especialidadeSelecionada ? 'selected' : '' %>><%=
                                item.desc_especialidade %>
                        </option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="medico">Médico:</label>
                <select id="medico" name="medico" required>
                    <% if (medico.length > 0) { %>
                        <% medico.forEach(function(medicoItem) { %>
                            <option value="<%= medicoItem.id %>">
                                <%= medicoItem.nome %>
                            </option>
                            <input type="hidden" id="id_funcionario" name="id_funcionario" value="<%= medicoItem.id_funcionario %>">
                        <% }); %>
                    <% } else { %>
                        <option value="">Nenhum médico encontrado</option>
                    <% } %>
                </select>
            </div>

            <input type="hidden" id="status" name="status" value="1">

            <button class="btn-enviar" type="submit">Enviar</button>
        </form>
    </div>

   

</body>

</html>
