 <link rel="stylesheet" href="/css/Consulta.css">

    <div class="container">
        <h2>Formulário de Consulta</h2>
        <form id="consultaForm" method="get" action="/Consulta">
            <div class="form-group">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required>
            </div>

            <div class="form-group">
                <label for="hora">Hora:</label>
                <input type="time" id="hora" name="hora" required>
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <select id="status" name="status" required>
                    <option value="Agendado">Agendado</option>
                    <option value="Concluído">Concluído</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>

            <div class="form-group">
                <label for="paciente">Paciente:</label>
                <select id="paciente" name="paciente" required>
                </select>
            </div>

            <div class="form-group">
                <label for="especialidade">Especialidade:</label>
                <select id="especialidade" name="especialidade" required>
                    <option value=""></option>
                    <% Especialidade.forEach(function(item) { %>
                        <option value="<%= item.id %>" <%= item.id == especialidadeSelecionada ? 'selected' : '' %>><%= item.desc_especialidade %></option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="medico">Médico:</label>
                <select id="medico" name="medico" required>
                    <% if (medico.length > 0) { %>
                        <% medico.forEach(function(medicoItem) { %>
                            <option value="<%= medicoItem.id %>"><%= medicoItem.nome %></option>
                        <% }); %>
                    <% } else { %>
                        <option value="">Nenhum médico encontrado</option>
                    <% } %>
                </select>
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <script>
        document.getElementById('especialidade').addEventListener('change', function() {
            console.log('Submitting form...');
            document.getElementById('consultaForm').submit();
        });
    </script>
</body>
</html>
