<link rel="stylesheet" href="/css/MedicoAdm.css">

<div class="actions">
    <button onclick="window.location.href='/Medico'">Cadastrar Medico</button>
</div>

<div>
    <h2 class="titulo">Lista de Medicos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data Nascimento</th>
                <th>CRM</th>
                <th>Data Admissão</th>
                <th>Especialidade</th>
            </tr>
        </thead>
        <tbody>
            <% TdsMedicos.forEach(function(item) { %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.nome %>
                    </td>
                    <td>
                        <%= item.cpf %>
                    </td>
                    <td>
                        <%= item.data_nasc %>
                    </td>
                    <td>
                        <%= item.crm %>
                    </td>
                    <td>
                        <%= item.data_admissao %>
                    </td>
                    <td>
                        <%= item.desc_especialidade %>
                    </td>
                </tr>

                <% }); %>
        </tbody>
    </table>
</div>