<link rel="stylesheet" href="/css/Paciente.css">

<div class="actions">
    <button onclick="window.location.href='/Cadastro'">Cadastrar Paciente</button>
</div>

<div>
    <h2 class="titulo">Lista de Pacientes</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>CPF</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Gênero</th>
                <th>Tipo</th>
                <th>Todos dados Pacientes</th>
            </tr>
        </thead>
        <tbody>
            <% tdPessoas.forEach(function(item) { %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.CPF %>
                    </td>
                    <td>
                        <%= item.NOME %>
                    </td>
                    <td>
                        <%= item.DATA_NASCIMENTO %>
                    </td>
                    <td>
                        <%= item.GENERO %>
                    </td>
                    <td>
                        <%= item.TIPO %>
                    </td>
                    <td><a method="get" href="/PacienteInfo/<%= item.id %>"><span
                                class="material-symbols-outlined">folder_shared</span></a></td>
                </tr>

                <% }); %>
        </tbody>
    </table>
</div>