
<link rel="stylesheet" href="/css/PacienteUsuario.css">
<div>
    <h1>Bem-vindo, <%= user.nome_pessoa %>!</h1>
</div>

<div>
    <h3 class="titulo">Proximas Consultas:</h3>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Nome Paciente</th>
                <th>CPF Paciente</th>
                <th>Nome do Medico</th>
                <th>Especialidade do Medico</th>
            </tr>
        </thead>
        <tbody>
            <% consulta.forEach(function(item) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.data %></td>
                    <td><%= item.hora %></td>
                    <td><%= item.nome_paciente %></td>
                    <td><%= item.cpf_paciente %></td>
                    <td><%= item.nome_funcionario %></td>
                    <td><%= item.desc_especialidade %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>


<div>
    <h3 class="titulo">Historico de Consultas:</h3>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Nome Paciente</th>
                <th>CPF Paciente</th>
                <th>Nome do Medico</th>
                <th>Especialidade do Medico</th>
            </tr>
        </thead>
        <tbody>
            <% consultaAnteriores.forEach(function(item) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.data %></td>
                    <td><%= item.hora %></td>
                    <td><%= item.nome_paciente %></td>
                    <td><%= item.cpf_paciente %></td>
                    <td><%= item.nome_funcionario %></td>
                    <td><%= item.desc_especialidade %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>


