<link rel="stylesheet" href="/css/PacienteUsuario.css">

<h1>Bem-vindo, <%= user.nome_pessoa %>!</h1>

<!-- Próximas consultas -->

<div id="pr_consultas">

    <h3 class="titulo">Próximas consultas:</h3>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Nome do paciente</th>
                    <th>CPF</th>
                    <th>Médico</th>
                    <th>Especialidade do médico</th>
                </tr>
            </thead>
            <tbody>
                <% consulta.forEach(function(item) { %>
                    <tr>
                        <td>
                            <%= item.data %>
                        </td>
                        <td>
                            <%= item.hora %>
                        </td>
                        <td>
                            <%= item.nome_paciente %>
                        </td>
                        <td>
                            <%= item.cpf_paciente %>
                        </td>
                        <td>
                            <%= item.nome_funcionario %>
                        </td>
                        <td>
                            <%= item.desc_especialidade %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>


</div>


<!-- Historico -->

<div id="hs_consultas">

    <h3 class="titulo">Histórico de consultas:</h3>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Nome do paciente</th>
                    <th>CPF</th>
                    <th>Médico</th>
                    <th>Especialidade do médico</th>
                </tr>
            </thead>
            <tbody>
                <% consultaAnteriores.forEach(function(item) { %>
                    <tr>
                        <td>
                            <%= item.data %>
                        </td>
                        <td>
                            <%= item.hora %>
                        </td>
                        <td>
                            <%= item.nome_paciente %>
                        </td>
                        <td>
                            <%= item.cpf_paciente %>
                        </td>
                        <td>
                            <%= item.nome_funcionario %>
                        </td>
                        <td>
                            <%= item.desc_especialidade %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

</div>