<link rel="stylesheet" href="/css/Paciente.css">

<!-- botão de retorno -->


<div class="container">
<a href="/adm" class="back-button">
    <button><span class="material-symbols-outlined">arrow_back</span> Voltar</button>
</a>


<!-- Titulo -->

<h2 class="titulo">Lista de Pacientes</h2>

<!-- Tabela -->

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th id="ID">ID:</th>
                <th id="cpf" class="cpf">C.P.F :</th>
                <th id="nome">Nome:</th>
                <th id="nascimento">Data de nascimento:</th>
                <th id="genero">Gênero:</th>
                <th id="tipo">Tipo:</th>
                <th id="dados">Dados do pacientes:</th>
            </tr>
        </thead>
        <tbody>
            <% tdPessoas.forEach(function(item) { %>
                <tr>
                    <td id="ID" class="ID">
                        <%= item.id %>
                    </td>
                    <td id="cpf">
                        <%= item.CPF %>
                    </td>
                    <td class="nome">
                        <%= item.NOME %>
                    </td>
                    <td id="nascimento">
                        <%= item.DATA_NASCIMENTO %>
                    </td>
                    <td id="genero">
                        <%= item.GENERO %>
                    </td>
                    <td id="tipo">
                        <%= item.TIPO %>
                    </td>
                    <td id="pasta"><a method="get" href="/PacienteInfo/<%= item.id %>"><span
                        class="material-symbols-outlined">folder_shared</span></a>
            </td>
                </tr>

                <% }); %>
        </tbody>
    </table>
</div>
</div>